<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/car.png"
            visible="true">
         <run
               class="car.manager.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="car.manager.Perspective"
            fixed="true"
            id="Test.perspective"
            name="Perspective">
      </perspective>
      <perspective
            class="car.manager.CarPerspective"
            id="car.customer.manager.perspective"
            name="Carperspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="car.manager.viewpart.TodayInStoreViewPart"
            icon="icons/ac_ts.png"
            id="car.customer.manager.customerview"
            name="当日消费记录"
            restorable="true">
      </view>
      <view
            class="car.manager.viewpart.UserRecordsQueryViewPart"
            icon="icons/query.png"
            id="car.customer.manager.query"
            name="用户消费记录"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="car.manager.viewpart.InStoreRecordViewPart"
            icon="icons/record.png"
            id="car.customer.manager.historyrecord"
            name="进店记录"
            restorable="true">
      </view>
      <view
            class="car.manager.viewpart.UserManagerViewPart"
            icon="icons/user.png"
            id="car.customer.manager.usermanager"
            name="用户管理"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="car.manager.viewpart.HistoryRecordQueryViewPart"
            icon="icons/history.png"
            id="car.customer.manager.historyquery"
            name="历史消费记录"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="false"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="car.customer.manager.customerview">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="菜单">
            <command
                  commandId="com.retailmanager.detail"
                  icon="icons/ac_ts.png"
                  id="open"
                  label="消费记录"
                  style="push">
            </command>
            <command
                  commandId="com.retailmanager.carquery"
                  icon="icons/query.png"
                  id="query"
                  label="用户查询"
                  style="push">
            </command>
            <command
                  commandId="com.retailmanager.usermanager"
                  icon="icons/user.png"
                  id="usermanager"
                  label="用户管理"
                  style="push">
            </command>
            <command
                  commandId="com.retailmanager.historyrecord"
                  icon="icons/history.png"
                  id="historyrecord"
                  label="历史记录"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="退出系统">
            </command>
         </menu>
         <menu
               label="维护配置">
            <command
                  commandId="com.retailmanager.preference"
                  icon="icons/setup.png"
                  id="preference"
                  label="维护配置"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="manager.toolbar">
            <command
                  commandId="com.retailmanager.detail"
                  icon="icons/ac_ts.png"
                  id="opendetail"
                  label="消费记录"
                  style="push">
            </command>
   
            <command
                  commandId="com.retailmanager.carquery"
                  icon="icons/query.png"
                  id="query"
                  label="用户查询"
                  style="push">
            </command>
            <command
                  commandId="com.retailmanager.usermanager"
                  icon="icons/user.png"
                  id="usermanager"
                  label="用户管理"
                  style="push">
            </command>
            <command
                  commandId="com.retailmanager.historyrecord"
                  icon="icons/history.png"
                  id="historyrecord"
                  label="历史记录"
                  style="push">
            </command>      </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="car.handler.ShowDetaiHandler"
            commandId="com.retailmanager.detail">
      </handler>
      <handler
            class="car.handler.ShowQueryHandler"
            commandId="com.retailmanager.carquery">
      </handler>
      <handler
            class="car.handler.SystemConfigurationHandler"
            commandId="com.retailmanager.preference">
      </handler>
      <handler
            class="car.handler.UserManagerHandler"
            commandId="com.retailmanager.usermanager">
      </handler>
      <handler
            class="car.handler.HistoryRecordHandler"
            commandId="com.retailmanager.historyrecord">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.retailmanager.detail"
            name="detail">
      </command>
      <command
            id="com.retailmanager.carquery"
            name="carquery">
      </command>
      <command
            id="com.retailmanager.preference"
            name="preference">
      </command>
      <command
            id="com.retailmanager.usermanager"
            name="usermanager">
      </command>
      <command
            id="com.retailmanager.historyrecord"
            name="historyrecord">
      </command>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="car.customer.manager.application"
            name="carmanager">
         <property
               name="appName"
               value="carmanager">
         </property>
         <property
               name="windowImages"
               value="icons/ic_directions_car_48px-16.png,icons/ic_directions_car_48px-32.png,icons/ic_directions_car_48px-48.png,icons/ic_directions_car_48px-64 (1).png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="car.customer.manager.page.CarColorPreferencePage"
            id="car.customer.manager.colorpage"
            name="颜色维护">
      </page>
      <page
            class="car.customer.manager.page.ProjectItemPreferencePage"
            id="car.customer.manager.projectitempage"
            name="项目维护">
      </page>
      <page
            class="car.customer.manager.page.CarTypePreferencePage"
            id="car.customer.manager.cartypepage"
            name="车型维护">
      </page>
   </extension>

</plugin>
